.card-tarefa {
  position: relative;
  display: flex;
  background-color: rgba(230, 230, 230, 0.516);
  width: 94%;
  min-width: 50vw;
  max-width: 800px;
  min-height: 10vh;
  left: 2%;
  border-radius: 5px 0px 20px 5px;
  box-shadow: 0px 2px 5px rgb(158, 158, 158);
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.nome-tarefa {
  font-weight: 300;
  width: 20%;
}

.descricao {
  max-width: 40%;
}

.date {
  font-size: 14px;
}

.organize {
  display: flex;
  width: 120%;
  justify-content: space-around;
  align-items: center;
}
#checkbox {
  width: 20%;
  height: 3vh;
}
